*, html, body {
	margin: 0; padding: 0; box-sizing: border-box;
}

.menu-icondiv-hm {
  position: absolute; width: 2.5rem; height: 2.5rem;
  display: flex; align-items: center; justify-content: center;
  margin: 1em 1em; padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  border: 1px solid ; border-radius: 0.3rem;
  color: #383838;
  cursor: pointer;
}

.menu-icondiv-hm {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: .30s;
}
.menu-icondiv-close-hm {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.menu-icon-hm {
  display: flex; align-items: center; justify-content: center;
} 

.menu-hm {
  display: fixed;
  width: 17rem; height: 100vh;
  background-color: #c3c3c3;
  transition: .30s;
}

@media only screen and (max-width: 950px) {
  .menu-hm {
    width: 45%;
  }
  .menu-icondiv-hm {
    width: 3.5rem; height: 3.5rem;
    transform: scale(0.8);
  }
  .menu-icon-hm {
    transform: scale(1.6);
  }
}

@media only screen and (max-width: 750px) {
  .menu-hm {
    width: 100%;
  }
}

.menu-close-hm {
  width: 0rem;
}