* {
	margin: 0;
	padding: 0
}

html, body {
	height: 100%;
	font-family: 'Arial', sans-serif;
}

.section-content {
	margin: 40px 10px;
}

.icone-navbar-mobile {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 1em;
  width: 3em;
  height: 3em;
  background-color: #888;
  color: #fff;
  cursor: pointer;
}

.navbar-mobile {
  position: absolute;
  height: 100%;
  width: 20em;
  background-color: orange;
  transform: translateX(-20em);
  transition: 400ms
}

.navbar {
	width: 100%;
	height: 80px;
	background-color: orange; 
}